body
{
  color:blue;
  font-family:MS Sans Serif;
 }

 div.transbox
{
    /*opacity:0.5;*/
}

#tblLinkPopup
{
    background-color:#D3D3D3;
    border:1;
}
#tblMain
{
  width:100%; 
  background-color:#F2F2F2;  
}


p.oneProtein
{
  color:Blue;
  font-weight:bold;
}